

<ion-content >
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h1>Nuevas Peliculas</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasReciente"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h1>Cartelera</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-poster [peliculas]="peliculasReciente"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h1>Populares</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slidshow-pares [peliculas]="populares" (cargarMas)="cargarMas()"></app-slidshow-pares>

</ion-content>
